html
  head
    title!= title
  body
    h1!= message
    h2!= description
    h3!= description
    h4!= fechaDeInicio
        

    input(type='text' name='nombre')
    input(type='text' name='carnet')

    button(type='button' class='btn btn-info btn-lg') Guardar alumno

    